<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="../images/logo2.jpeg" type="image/x-icon">
	<link rel="apple-touch-icon" href="../images/logo2.jpeg">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
	<link rel="stylesheet" href="../css/style.min.css" />
	<link rel="stylesheet" href="../css/utility.css" />

	<title>Leemah | Account</title>
</head>

<body>
	<section class="promo-off flex">
		<div class="promo"><a href="#">N6 off</a></div>
		<div class="promo"><a href="#">N15 off</a></div>
		<div class="promo"><a href="#">N25 off</a></div>
	</section>

	<div class="color-grey">
		<section class="account">
			<a href=""><i class="fa fa-cog"></i></a>
			<div class="clear"></div>
			<div class="flex">
				<img src="../images/chic/bubble.png" alt="bubble" />
				<a href="./login.html">Sign In / Register</a>
				<a href="./login.html" class="new-user">N5 OFF For New Users ></a>
				<div class="counter flex">
					<a href="" class="coupon">
						<p>0</p>
						Coupons
					</a>
					<a href="" class="point">
						<p>0</p>
						Points
					</a>
					<a href="" class="wishlist">
						<p>0</p>
						Wishlists
					</a>
				</div>
			</div>
			<div class="orders card">
				<div class="view-all flex">
					<h1>My Orders</h1>
					<a href="#">View all ></a>
				</div>
				<div class="grid grid-3">
					<div class="unpaid">
						<a href="">
							<img src="../images/chic/a5.png" alt="Unpaid" />
							<p>Unpaid</p>
						</a>
					</div>
					<div class="processing">
						<a href="">
							<img src="../images/chic/a6.png" alt="Processing" />
							<p>Processing</p>
						</a>
					</div>
					<div class="shipped">
						<a href="">
							<img src="../images/chic/a7.png" alt="Shipped" />
							<p>Shipped</p>
						</a>
					</div>
				</div>
			</div>
		</section>

		<section class="services">
			<h1>Service</h1>
			<div class="grid grid-4">
				<div class="address">
					<a href="">
						<img src="../images/chic/a1.png" alt="Address Book" />
						<p>Address Book</p>
					</a>
				</div>
				<div class="viewed">
					<a href="">
						<img src="../images/chic/a2.png" alt="Recently Viewed" />
						<p>Recently Viewed</p>
					</a>
				</div>
				<div class="question">
					<a href="">
						<img src="../images/chic/a3.png" alt="My Question" />
						<p>My Question</p>
					</a>
				</div>
				<div class="help">
					<a href="">
						<img src="../images/chic/a4.png" alt="Help Center" />
						<p>Help Center</p>
					</a>
				</div>
			</div>
		</section>
	</div>

	<section class="survey">
		<img src="../images/chic/survey.png" alt="Survey Banner">
	</section>

	<main>
		<div class="container">
			<section class="product">
				<h1>You May Also Like</h1>
				<div class="grid">
					<div class="product-card">
						<div class="product-img-wrap">
							<img src="../images/chic/p9.jpg" alt="New Product" class="product-card-img" />
							<span>NEW</span>
						</div>
						<div class="product-card-detail">
							<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
							<div class="product-card-price-wrap">
								<div class="product-card-price">
									<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
									<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
								</div>
								<div class="product-card-wish">
									<i class="fa fa-heart"></i>
									<span>15</span>
								</div>
							</div>
						</div>
						<div class="product__overlay">
							<button type="button" class="btn btn-light">Add to Wishlist</button>
							<button type="button" class="btn btn-light">Quick View</button>
							<button type="button" class="btn btn-light">Dislike it</button>
							<a href="#">Similar items ></a>
						</div>
					</div>
					<div class="product-card">
						<div class="product-img-wrap">
							<img src="../images/chic/p10.jpeg" alt="New Product" class="product-card-img" />
							<span>NEW</span>
						</div>
						<div class="product-card-detail">
							<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
							<div class="product-card-price-wrap">
								<div class="product-card-price">
									<h5 class="s-price">₦28.99</h5>
									<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
								</div>
								<div class="product-card-wish">
									<i class="fa fa-heart"></i>
									<span>15</span>
								</div>
							</div>
						</div>
					</div>
					<div class="product-card">
						<div class="product-img-wrap">
							<img src="../images/chic/p11.jpg" alt="New Product" class="product-card-img" />
							<span>NEW</span>
						</div>
						<div class="product-card-detail">
							<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
							<div class="product-card-price-wrap">
								<div class="product-card-price">
									<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
									<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
								</div>
								<div class="product-card-wish">
									<i class="fa fa-heart"></i>
									<span>15</span>
								</div>
							</div>
						</div>
					</div>
					<div class="product-card">
						<div class="product-img-wrap">
							<img src="../images/chic/p12.jpeg" alt="New Product" class="product-card-img" />
							<span>NEW</span>
						</div>
						<div class="product-card-detail">
							<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
							<div class="product-card-price-wrap">
								<div class="product-card-price">
									<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
									<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
								</div>
								<div class="product-card-wish">
									<i class="fa fa-heart"></i>
									<span>15</span>
								</div>
							</div>
						</div>
					</div>
					<div class="product-card">
						<div class="product-img-wrap">
							<img src="../images/chic/p13.jpg" alt="New Product" class="product-card-img" />
							<span>NEW</span>
						</div>
						<div class="product-card-detail">
							<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
							<div class="product-card-price-wrap">
								<div class="product-card-price">
									<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
									<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
								</div>
								<div class="product-card-wish">
									<i class="fa fa-heart"></i>
									<span>15</span>
								</div>
							</div>
						</div>
					</div>
					<div class="product-card">
						<div class="product-img-wrap">
							<img src="../images/chic/p15.jpg" alt="New Product" class="product-card-img" />
							<span>NEW</span>
						</div>
						<div class="product-card-detail">
							<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
							<div class="product-card-price-wrap">
								<div class="product-card-price">
									<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
									<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
								</div>
								<div class="product-card-wish">
									<i class="fa fa-heart"></i>
									<span>15</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>


	<footer>
		<div class="container">
			<div class="flex">
				<a href="../index.html">
					<i class="fa fa-home"></i>
					<p>Home</p>
				</a>
				<a href="./category.html">
					<i class="fa fa-th-large"></i>
					<p>Category</p>
				</a>
				<a class="active" href="./views/account.html">
					<i class="fa fa-users"></i>
					<p class="active">Account</p>
				</a>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="../js/script.js"></script>
</body>

</html>