<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="../images/logo2.jpeg" type="image/x-icon">
	<link rel="apple-touch-icon" href="../images/logo2.jpeg">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
	<link rel="stylesheet" href="../css/style.min.css" />
	<link rel="stylesheet" href="../css/utility.css" />

	<title>Leemah | Detail</title>
</head>

<body>
	<a id="back-to-top"></a>
	<section class="promo-off flex">
		<div class="promo"><a href="#">N6 off</a></div>
		<div class="promo"><a href="#">N15 off</a></div>
		<div class="promo"><a href="#">N25 off</a></div>
	</section>

	<div class="top-icon">
		<div class="flex">
			<div class="top-icon-nav">
				<a href="./style.html" class="top-icon-item"><i class="fa fa-chevron-left"></i></a>
			</div>
			<a href="../index.html" class="home">
				<img src="../images/logo1.jpg" alt="Leemahshop">
			</a>
			<div class="top-icon-nav">
				<a href="#" class="top-icon-item"><i class="fa fa-upload"></i></a>
				<a href="#" class="top-icon-item"><i class="fa fa-ellipsis-h"></i></a>
			</div>
		</div>
	</div>

	<section class="detail">
		<div class="slider">
			<div class="slider-indicator">
				<a href="#slide-1">1</a>
				<a href="#slide-2">2</a>
				<a href="#slide-3">3</a>
				<a href="#slide-4">4</a>
				<a href="#slide-5">5</a>
			</div>

			<div class="slides">
				<div id="slide-1">
					<img src="../images/chic/p5.jpg" alt="Product Slide" />
				</div>
				<div id="slide-2">
					<img src="../images/chic/p6.jpg" alt="Product Slide" />
				</div>
				<div id="slide-3">
					<img src="../images/chic/p7.jpg" alt="Product Slide" />
				</div>
				<div id="slide-4">
					<img src="../images/chic/p8.jpg" alt="Product Slide" />
				</div>
				<div id="slide-5">
					<img src="../images/chic/p9.jpg" alt="Product Slide" />
				</div>
			</div>
		</div>

		<div class="count-down flex">
			<p>Sale Now on</p>
			<div>
				End in
				<span id="days"></span> :
				<span id="hours"></span> :
				<span id="mins"></span> :
				<span id="secs"></span>
				<h2 id="end"></h2>

			</div>
		</div>
	</section>

	<main class="color-grey">
		<div class="container">
			<section>
				<div class="product-card-price-wrap">
					<div class="product-card-price">
						<h1 class="s-price-lg">
							<span>₦28.99</span>
							<small><s>₦58.99</s></small>
						</h1>
						<P class="order-point">Order & earn 17 points</P>
					</div>
					<div class="product-card-wish">
						<i class="fa fa-star star painted"></i>
						<i class="fa fa-star star painted"></i>
						<i class="fa fa-star star painted"></i>
						<i class="fa fa-star star painted"></i>
						<i class="fa fa-star-half painted star"></i>
						<span>(7)</span>
						<i class="fa fa-chevron-right"></i>
					</div>
				</div>
				<p class="p-price-lg"><span>Leemashop</span> Preppy Mens Patchwork Plain Color Crew Neck Short Sleeve T-Shirt
				</p>
			</section>

			<section class="new-user-coupon">
				<div class="new-user">
					<div class="flex">
						<div>
							<span class="new-user-lg">₦5 OFF</span>
							<span class="new-user-sm">For New Users</span>
						</div>
						<div class="get-it"><a href="#">Get It</a></div>
					</div>
				</div>
			</section>

			<section class="product-attribute-wrap">
				<div class="product-attribute-items">
					<h4>COLOR: Black</h4>
					<div class="flex">
						<a href="#"><img src="../images/chic/p5.jpg" class="active" alt="Product Thumbsnail" /></a>
						<a href="#"><img src="../images/chic/p6.jpg" alt="Product Thumbsnail" /></a>
						<a href="#"><img src="../images/chic/p7.jpg" alt="Product Thumbsnail" /></a>
						<a href="#"><img src="../images/chic/p8.jpg" alt="Product Thumbsnail" /></a>
						<a href="#"><img src="../images/chic/p9.jpg" alt="Product Thumbsnail" /></a>
					</div>
				</div>
				<div class="product-attribute-items">
					<div class="attribute-title">
						<h4>Size(US):</h4>
						<h4><a href="#">Size Chart <i class="fa fa-chevron-right"></i></a></h4>
					</div>
					<div class="attribute-option">
						<ul>
							<li><a href="#">US S</a></li>
							<li><a href="#">US M</a></li>
							<li><a href="#">US L</a></li>
							<li><a href="#">US XL</a></li>
							<li><a href="#">US 2XL</a></li>
						</ul>
					</div>
				</div>
			</section>
		</div>

		<section class="shipping-wrap">
			<div class="card">
				<div class="container">
					<h4><i class="fa fa-truck"></i> Shipping</h4>
					<div class="shipping-card-text">
						<p>Dispatched on Jun 15 - Jun 17</p>
						<i class="fa fa-chevron-right"></i>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="container">
					<div class="shipping-card-text">
						<p><i class="fa fa-check-circle"></i> 30 Days to return</p>
						<p>
							<i class="fa fa-check-circle"></i> Payment Security <i class="fa fa-chevron-right"></i>
						</p>

					</div>
				</div>
			</div>

			<div class="card">
				<div class="container">
					<div class="shipping-card-text hr">
						<p>Description</p>
						<p>Rayon, Polyester <i class="fa fa-chevron-right"></i></p>

					</div>
					<div class="shipping-card-text">
						<p>Size Chart</p>
						<p><i class="fa fa-chevron-right"></i></p>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="product-wrap">
				<div class="card">
					<div class="container">
						<div class="product-card-frquency">
							<h3>Frequently Bought Together</h3>
							<div class="slider">
								<div class="slides">
									<div id="slide-1">
										<img src="../images/chic/freq1.jpg" alt="Frequently Bought Together" />
										<p class="text-center">₦50.64</p>
									</div>
									<div id="slide-2">
										<img src="../images/chic/freq2.jpg" alt="Frequently Bought Together" />
										<p class="text-center">₦69.89</p>
									</div>
									<div id="slide-3">
										<img src="../images/chic/freq3.jpg" alt="Frequently Bought Together" />
										<p class="text-center">₦96.22</p>
									</div>
									<div id="slide-4">
										<img src="../images/chic/freq4.jpg" alt="Frequently Bought Together" />
										<p class="text-center">₦20.59</p>
									</div>
									<div id="slide-5">
										<img src="../images/chic/freq5.jpg" alt="Frequently Bought Together" />
										<p class="text-center">₦45.49</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="product-review-wrap">
			<div class="card">
				<div class="container">
					<h4>Reviews <span>(7)</span></h4>
					<div class="product-review-item grid">
						<div class="product-review-item-1">
							<h5>4.9</h5>
							<div>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star-half painted star"></i>
							</div>
						</div>
						<div class="product-review-item-2">
							<p class="grid grid-3">
								<span>Small</span>
								<input type="range" class="range" value="3" disabled>
								<span>3%</span>
							</p>
							<p class="grid grid-3">
								<span>True to size</span>
								<input type="range" class="range" value="94" disabled>
								<span>94%</span>
							</p>
							<p class="grid grid-3">
								<span>Large</span>
								<input type="range" class="range" value="9" disabled>
								<span>9%</span>
							</p>
						</div>
					</div>

					<div class="product-review-item">
						<div class="product-review-comment">
							<div class="flex">
								<img src="../images/chic/bubble.png" width="30" alt="User Avatar">
								<span>***user159</span>
							</div>
							<div>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star-half painted star"></i>
							</div>
						</div>
						<div class="comment">
							<p class="product-attr">Size: S Color: Black Overall Fit: True to size</p>
							<p class="product-comment">Lorem ipsum dolor sit amet.</p>
							<img src="../images/bg.jpg" width="80" height="80" alt="User commented image">
							<p class="product-comment-time flex">
								<span>2021-11-04 15:54:12</span>
								<i class="fa fa-thumbs-up"> 15</i>
							</p>
						</div>
					</div>

					<div class="product-review-item">
						<div class="product-review-comment">
							<div class="flex">
								<img src="../images/chic/user.png" width="30" alt="User Avatar">
								<span>***une</span>
							</div>
							<div>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star-half painted star"></i>
							</div>
						</div>
						<div class="comment">
							<p class="product-attr">Size: S Color: Black Overall Fit: True to size</p>
							<p class="product-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, fugit.</p>
							<p class="product-comment-time flex">
								<span>2021-11-04 15:54:12</span>
								<i class="fa fa-thumbs-up"> 10</i>
							</p>
						</div>
					</div>

					<div class="product-review-item">
						<div class="product-review-comment">
							<div class="flex">
								<img src="../images/chic/user1.png" width="30" alt="User Avatar">
								<span>***qwe</span>
							</div>
							<div>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star star painted"></i>
								<i class="fa fa-star-half painted star"></i>
							</div>
						</div>
						<div class="comment">
							<p class="product-attr">Size: S Color: Black Overall Fit: True to size</p>
							<p class="product-comment">Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
							<p class="product-comment-time flex">
								<span>2021-11-04 15:54:12</span>
								<i class="fa fa-thumbs-up"> 6</i>
							</p>
						</div>
					</div>

					<div class="view-all-comment text-center">
						<a href="./reviews.html">View All <i class="fa fa-chevron-right"></i></a>
					</div>
				</div>
			</div>
		</section>

		<section class="product-wrap">
			<div class="card">
				<div class="container">
					<section class="product">
						<h1>You May Also Like</h1>
						<div class="grid">
							<div class="product-card">
								<div class="product-img-wrap">
									<img src="../images/chic/p9.jpg" alt="New Product" class="product-card-img" />
									<span>NEW</span>
								</div>
								<div class="product-card-detail">
									<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
									<div class="product-card-price-wrap">
										<div class="product-card-price">
											<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
											<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
										</div>
										<div class="product-card-wish">
											<i class="fa fa-heart"></i>
											<span>15</span>
										</div>
									</div>
								</div>
								<div class="product__overlay">
									<button type="button" class="btn btn-light">Add to Wishlist</button>
									<button type="button" class="btn btn-light">Quick View</button>
									<button type="button" class="btn btn-light">Dislike it</button>
									<a href="#">Similar items ></a>
								</div>
							</div>
							<div class="product-card">
								<div class="product-img-wrap">
									<img src="../images/chic/p10.jpeg" alt="New Product" class="product-card-img" />
									<span>NEW</span>
								</div>
								<div class="product-card-detail">
									<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
									<div class="product-card-price-wrap">
										<div class="product-card-price">
											<h5 class="s-price">₦28.99</h5>
											<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
										</div>
										<div class="product-card-wish">
											<i class="fa fa-heart"></i>
											<span>15</span>
										</div>
									</div>
								</div>
							</div>
							<div class="product-card">
								<div class="product-img-wrap">
									<img src="../images/chic/p11.jpg" alt="New Product" class="product-card-img" />
									<span>NEW</span>
								</div>
								<div class="product-card-detail">
									<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
									<div class="product-card-price-wrap">
										<div class="product-card-price">
											<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
											<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
										</div>
										<div class="product-card-wish">
											<i class="fa fa-heart"></i>
											<span>15</span>
										</div>
									</div>
								</div>
							</div>
							<div class="product-card">
								<div class="product-img-wrap">
									<img src="../images/chic/p12.jpeg" alt="New Product" class="product-card-img" />
									<span>NEW</span>
								</div>
								<div class="product-card-detail">
									<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
									<div class="product-card-price-wrap">
										<div class="product-card-price">
											<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
											<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
										</div>
										<div class="product-card-wish">
											<i class="fa fa-heart"></i>
											<span>15</span>
										</div>
									</div>
								</div>
							</div>
							<div class="product-card">
								<div class="product-img-wrap">
									<img src="../images/chic/p13.jpg" alt="New Product" class="product-card-img" />
									<span>NEW</span>
								</div>
								<div class="product-card-detail">
									<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
									<div class="product-card-price-wrap">
										<div class="product-card-price">
											<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
											<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
										</div>
										<div class="product-card-wish">
											<i class="fa fa-heart"></i>
											<span>15</span>
										</div>
									</div>
								</div>
							</div>
							<div class="product-card">
								<div class="product-img-wrap">
									<img src="../images/chic/p15.jpg" alt="New Product" class="product-card-img" />
									<span>NEW</span>
								</div>
								<div class="product-card-detail">
									<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
									<div class="product-card-price-wrap">
										<div class="product-card-price">
											<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
											<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
										</div>
										<div class="product-card-wish">
											<i class="fa fa-heart"></i>
											<span>15</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>

	</main>

	<a href="#back-to-top" class="back-to-top flex"><i class="fa fa-hand-point-up"></i></a>

	<footer class="footer-detail">
		<div class="container">
			<div class="grid">
				<div class="flex">
					<a href="#">
						<i class="fa fa-heart"></i>
					</a>
					<a href="./shoppingcart.html">
						<i class="fa fa-shopping-bag"></i>
						<span>5</span>
					</a>
				</div>
				<div>
					<a href="./shoppingcart.html" class="cart">
						<span>Add To Bag</span>
					</a>
				</div>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="../js/script.min.js"></script>

	<script>
		let countDownDate = new Date("Aug 25, 2021 12:00:00").getTime();

		let countDown = setInterval(() => {
			let now = new Date().getTime();
			let timeLeft = countDownDate - now;

			let days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
			let hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			let minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
			let seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

			document.getElementById("days").innerHTML = days + "d ";
			document.getElementById("hours").innerHTML = hours + "h ";
			document.getElementById("mins").innerHTML = minutes + "m ";
			document.getElementById("secs").innerHTML = seconds + "s ";

			if (timeLeft < 0) {
				clearInterval(countDown);
				document.getElementById("days").innerHTML = "";
				document.getElementById("hours").innerHTML = "";
				document.getElementById("mins").innerHTML = "";
				document.getElementById("secs").innerHTML = "";
				document.getElementById("end").innerHTML = "SALES ELAPSED!!";
			}
		}, 1000);
	</script>
</body>

</html>