<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/utility.css" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Leemah | Detail</title>
</head>

<body>
  <div class="top">
    <div class="product-review-top">
      <div class="container">
        <a href="./detail.html" class="back">
          <i class="fa fa-chevron-left"></i>
        </a>
        <a href="../index.html">Product Reviews</a>
      </div>
    </div>
  </div>

  <main>
    <section class="product-review-wrap">
      <div class="card">
        <div class="container">
          <div style="margin-top: 2.5rem">
            <div class="product-review-item">
              <div class="product-review-comment">
                <div class="flex">
                  <p>Average Rating:</p>
                  <p>
                    <i class="fa fa-star star painted"></i>
                    <i class="fa fa-star star painted"></i>
                    <i class="fa fa-star star painted"></i>
                    <i class="fa fa-star star painted"></i>
                    <i class="fa fa-star star"></i>
                  </p>
                  <p class="text-light">4.5/5</p>
                </div>
              </div>
              <div class="comment">
                <button class="btn btn-outline active">All <span>(7)</span></button>
                <button class="btn btn-outline">True to size <span>(7)</span></button>
              </div>
            </div>
          </div>

          <div class="product-review-item">
            <div class="product-review-comment">
              <div class="flex">
                <img src="../images/chic/bubble.png" width="30" alt="" />
                <span>***user159</span>
              </div>
              <div>
                <i class="fa fa-star star painted"></i>
                <i class="fa fa-star star painted"></i>
                <i class="fa fa-star star painted"></i>
                <i class="fa fa-star star painted"></i>
                <i class="fa fa-star star"></i>
              </div>
            </div>
            <div class="comment">
              <p class="product-attr">
                Size: S Color: Black Overall Fit: True to size
              </p>
              <p class="product-comment">Lorem ipsum dolor sit amet.</p>
              <p class="product-comment-time flex">
                <span>2021-11-04 15:54:12</span>
                <i class="fa fa-thumbs-up"> 15</i>
              </p>
            </div>
          </div>

          <div class="product-review-item">
            <div class="product-review-comment">
              <div class="flex">
                <img src="../images/chic/user.png" width="30" alt="" />
                <span>***une</span>
              </div>
              <div>
                <i class="fa fa-star star painted"></i>
                <i class="fa fa-star star painted"></i>
                <i class="fa fa-star star painted"></i>
                <i class="fa fa-star star painted"></i>
                <i class="fa fa-star star"></i>
              </div>
            </div>
            <div class="comment">
              <p class="product-attr">
                Size: S Color: Black Overall Fit: True to size
              </p>
              <p class="product-comment">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aliquid, fugit.
              </p>
              <p class="product-comment-time flex">
                <span>2021-11-04 15:54:12</span>
                <i class="fa fa-thumbs-up"> 10</i>
              </p>
            </div>
          </div>

          <div class="product-review-item">
            <div class="product-review-comment">
              <div class="flex">
                <img src="../images/chic/user1.png" width="30" alt="" />
                <span>***qwe</span>
              </div>
              <div>
                <i class="fa fa-star star painted"></i>
                <i class="fa fa-star star painted"></i>
                <i class="fa fa-star star painted"></i>
                <i class="fa fa-star star painted"></i>
                <i class="fa fa-star star"></i>
              </div>
            </div>
            <div class="comment">
              <p class="product-attr">
                Size: S Color: Black Overall Fit: True to size
              </p>
              <p class="product-comment">
                Lorem, ipsum dolor sit amet consectetur adipisicing.
              </p>
              <p class="product-comment-time flex">
                <span>2021-11-04 15:54:12</span>
                <i class="fa fa-thumbs-up"> 6</i>
              </p>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main>

  <script src="../js/script.js"></script>
</body>

</html>