<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
  <link rel="icon" href="../images/logo2.jpeg" type="image/x-icon" />

  <link rel="apple-touch-icon" href="../images/logo2.jpeg" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="../css/style.min.css" />
  <link rel="stylesheet" href="../css/utility.css" />

  <title>Leemah | Category</title>
</head>

<body>
  <a id="back-to-top"></a>

  <!--  //? This header is when the shopping bag is empty -->
  <header class="header" style="display: none">
    <div class="top grid shadow">
      <div class="logo flex">
        <a href="../index.html"><i class="fa fa-chevron-left"></i></a>
        <a href="../index.html" class="home"> Shopping Bag </a>
      </div>
    </div>
  </header>

  <header class="header">
    <div class="top grid grid-2-1 shadow">
      <div class="logo flex">
        <a href="../index.html"><i class="fa fa-home-alt"></i></a>
        <a href="../index.html" class="s-bag"> Shopping Bag (15) </a>
      </div>
      <div class="icon">
        <a href="./login.html"><i class="fa fa-heart"></i></a>
        <a href="#"><i class="fa fa-edit"></i></a>
      </div>
    </div>
  </header>

  <div class="pane" style="display: none">
    <a href="./login.html" class="flex">
      <p>Log in to sync your shopping bag</p>
      <i class="fa fa-chevron-right"></i>
    </a>
  </div>

  <section>
    <div class="empty-bag-wrap" style="display: none">
      <img src="../images/chic/empty.png" width="100%" alt="Empty Bag" />
      <div class="flex">
        <h2><span>₦5 OFF</span> For New Users</h2>
        <a href="./login.html" class="btn btn-danger">Shop Now</a>
      </div>
    </div>

    <div class="shopping-bag-wrap">
      <div class="shopping-bag-item">
        <div class="shopping-bag-product-head flex">
          <span>SALE</span>
          <p>Sale Now On</p>
        </div>
        <div class="shopping-bag-product-detail grid">
          <div class="shopping-bag-product-left flex">
            <p><input type="checkbox" name="shop" class="text-danger" id="shop-single" checked></p>
            <p><img src="../images/chic/cart-bag.png" alt="" /></p>
          </div>
          <div class="shopping-bag-product-rigt">
            <h2>Men Oxford USB Charging Multi...</h2>
            <button class="btn btn-danger btn-outline open-btn">
              Black <i class="fa fa-chevron-down"></i>
            </button>
            <div class="grid">
              <p>₦55.99</p>
              <p>
                <!-- <i class="fa fa-minus"></i> -->
                <input type="number" value="1" id="cart-counter" />
                <!-- <i class="fa fa-plus"></i> -->
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="shopping-bag-item">
        <div class="shopping-bag-product-head flex">
          <span>SALE</span>
          <p>Sale Now On</p>
        </div>
        <div class="shopping-bag-product-detail grid">
          <div class="shopping-bag-product-left flex">
            <p><input type="checkbox" name="shop" class="text-danger" id="shop-single" checked></p>
            <p><img src="../images/chic/c-76.png" alt="" /></p>
          </div>
          <div class="shopping-bag-product-rigt">
            <h2>Men Cotton Plain Chest Pocket H...</h2>
            <button class="btn btn-danger btn-outline open-btn">
              Grey <i class="fa fa-chevron-down"></i>
            </button>
            <div class="grid">
              <p>₦55.99</p>
              <p>
                <!-- <i class="fa fa-minus"></i> -->
                <input type="number" value="1" />
                <!-- <i class="fa fa-plus"></i> -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main>
    <div class="container" style="display: none">
      <section class="shop my-5">
        <h2 class="text-center">You May Also Like</h2>
        <div class="flex">
          <aside class="categories">
            <h1>TODO: Sidebar</h1>
          </aside>
          <!-- <div class="grid grid-4"> -->
          <div class="grid">
            <div class="product-card">
              <div class="product-img-wrap">
                <img src="../images/chic/p8.jpg" alt="New Product" class="product-card-img" />
                <span>NEW</span>
              </div>
              <div class="product-card-detail">
                <h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
                <div class="product-card-price-wrap">
                  <div class="product-card-price">
                    <h5 class="s-price">
                      <span>₦28.99</span> <small><s>₦58.99</s></small>
                    </h5>
                    <p class="p-price">
                      <i class="fa fa-tag"></i> Buy 2 Get 20% OFF
                    </p>
                  </div>
                  <div class="product-card-wish">
                    <i class="fa fa-heart"></i>
                    <span>15</span>
                  </div>
                </div>
              </div>
              <div class="product-overlay">
                <button type="button" class="btn btn-light">
                  Add to Wishlist
                </button>
                <button type="button" class="btn btn-light">
                  <a href="./detail.html">Quick View</a>
                </button>
                <button type="button" class="btn btn-light">
                  Dislike it
                </button>
                <a href="#" class="similar">Similar items ></a>
              </div>
            </div>
            <div class="product-card">
              <div class="product-img-wrap">
                <img src="../images/chic/p7.jpg" alt="New Product" class="product-card-img" />
                <span>NEW</span>
              </div>
              <div class="product-card-detail">
                <h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
                <div class="product-card-price-wrap">
                  <div class="product-card-price">
                    <h5 class="s-price">₦28.99</h5>
                    <p class="p-price">
                      <i class="fa fa-tag"></i> Buy 2 Get 20% OFF
                    </p>
                  </div>
                  <div class="product-card-wish">
                    <i class="fa fa-heart"></i>
                    <span>15</span>
                  </div>
                </div>
              </div>
              <div class="product-overlay">
                <button type="button" class="btn btn-light">
                  Add to Wishlist
                </button>
                <button type="button" class="btn btn-light">
                  <a href="./detail.html">Quick View</a>
                </button>
                <button type="button" class="btn btn-light">
                  Dislike it
                </button>
                <a href="#" class="similar">Similar items ></a>
              </div>
            </div>
            <div class="product-card">
              <div class="product-img-wrap">
                <img src="../images/chic/p6.jpg" alt="New Product" class="product-card-img" />
                <span>NEW</span>
              </div>
              <div class="product-card-detail">
                <h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
                <div class="product-card-price-wrap">
                  <div class="product-card-price">
                    <h5 class="s-price">
                      <span>₦28.99</span> <small><s>₦58.99</s></small>
                    </h5>
                    <p class="p-price">
                      <i class="fa fa-tag"></i> Buy 2 Get 20% OFF
                    </p>
                  </div>
                  <div class="product-card-wish">
                    <i class="fa fa-heart"></i>
                    <span>15</span>
                  </div>
                </div>
              </div>
              <div class="product-overlay">
                <button type="button" class="btn btn-light">
                  Add to Wishlist
                </button>
                <button type="button" class="btn btn-light">
                  <a href="./detail.html">Quick View</a>
                </button>
                <button type="button" class="btn btn-light">
                  Dislike it
                </button>
                <a href="#" class="similar">Similar items ></a>
              </div>
            </div>
            <div class="product-card">
              <div class="product-img-wrap">
                <img src="../images/chic/p5.jpg" alt="New Product" class="product-card-img" />
                <span>NEW</span>
              </div>
              <div class="product-card-detail">
                <h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
                <div class="product-card-price-wrap">
                  <div class="product-card-price">
                    <h5 class="s-price">
                      <span>₦28.99</span> <small><s>₦58.99</s></small>
                    </h5>
                    <p class="p-price">
                      <i class="fa fa-tag"></i> Buy 2 Get 20% OFF
                    </p>
                  </div>
                  <div class="product-card-wish">
                    <i class="fa fa-heart"></i>
                    <span>15</span>
                  </div>
                </div>
              </div>
              <div class="product-overlay">
                <button type="button" class="btn btn-light">
                  Add to Wishlist
                </button>
                <button type="button" class="btn btn-light">
                  <a href="./detail.html">Quick View</a>
                </button>
                <button type="button" class="btn btn-light">
                  Dislike it
                </button>
                <a href="#" class="similar">Similar items ></a>
              </div>
            </div>
            <div class="product-card">
              <div class="product-img-wrap">
                <img src="../images/chic/p4.webp" alt="New Product" class="product-card-img" />
                <span>NEW</span>
              </div>
              <div class="product-card-detail">
                <h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
                <div class="product-card-price-wrap">
                  <div class="product-card-price">
                    <h5 class="s-price">
                      <span>₦28.99</span> <small><s>₦58.99</s></small>
                    </h5>
                    <p class="p-price">
                      <i class="fa fa-tag"></i> Buy 2 Get 20% OFF
                    </p>
                  </div>
                  <div class="product-card-wish">
                    <i class="fa fa-heart"></i>
                    <span>15</span>
                  </div>
                </div>
              </div>
              <div class="product-overlay">
                <button type="button" class="btn btn-light">
                  Add to Wishlist
                </button>
                <button type="button" class="btn btn-light">
                  <a href="./detail.html">Quick View</a>
                </button>
                <button type="button" class="btn btn-light">
                  Dislike it
                </button>
                <a href="#" class="similar">Similar items ></a>
              </div>
            </div>
            <div class="product-card">
              <div class="product-img-wrap">
                <img src="../images/chic/p3.jpg" alt="New Product" class="product-card-img" />
                <span>NEW</span>
              </div>
              <div class="product-card-detail">
                <h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
                <div class="product-card-price-wrap">
                  <div class="product-card-price">
                    <h5 class="s-price">
                      <span>₦28.99</span> <small><s>₦58.99</s></small>
                    </h5>
                    <p class="p-price">
                      <i class="fa fa-tag"></i> Buy 2 Get 20% OFF
                    </p>
                  </div>
                  <div class="product-card-wish">
                    <i class="fa fa-heart"></i>
                    <span>15</span>
                  </div>
                </div>
              </div>
              <div class="product-overlay">
                <button type="button" class="btn btn-light">
                  Add to Wishlist
                </button>
                <button type="button" class="btn btn-light">
                  <a href="./detail.html">Quick View</a>
                </button>
                <button type="button" class="btn btn-light">
                  Dislike it
                </button>
                <a href="#" class="similar">Similar items ></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <a href="#back-to-top" class="back-to-top flex"><i class="fa fa-hand-point-up"></i></a>

  <footer class="footer-detail">
    <div class="container">
      <div class="flex">
        <p><input type="checkbox" name="shop" class="text-danger" id="shop-all" checked> ALL</p>
        <p class="sp">₦45.99</p>
      </div>
      <div>
        <a href="./shoppingcart.html" class="cart">
          Add To Bag
        </a>
      </div>
    </div>
  </footer>


  <section id="prod-opt-cont">
    <div class="product-option-overlay" id="overlay"></div>
    <div class="product-option-wrap">
      <div class="container">
        <div class="product-option-head">
          <div class="grid grid-3">
            <h2>₦35.68</h2>
            <h3>(Order & earn 35 points)</h3>
          </div>
          <p>Expected dispatched on Dec 07 - Dec 12</p>
        </div>
        <div class="product-option-body">
          <h1>Color</h1>
          <div class="product-wrap">
            <div class="card">
              <div class="product-card-frquency">
                <div class="slider">
                  <div class="slides">
                    <div id="slide-1" class="active">
                      <img src="../images/chic/freq1.jpg" alt="Frequently Bought Together" />
                      <p class="text-center">₦50.64</p>
                    </div>
                    <div id="slide-2">
                      <img src="../images/chic/freq2.jpg" alt="Frequently Bought Together" />
                      <p class="text-center">₦69.89</p>
                    </div>
                    <div id="slide-3">
                      <img src="../images/chic/freq3.jpg" alt="Frequently Bought Together" />
                      <p class="text-center">₦96.22</p>
                    </div>
                    <div id="slide-4">
                      <img src="../images/chic/freq4.jpg" alt="Frequently Bought Together" />
                      <p class="text-center">₦20.59</p>
                    </div>
                    <div id="slide-5">
                      <img src="../images/chic/freq5.jpg" alt="Frequently Bought Together" />
                      <p class="text-center">₦45.49</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="product-attribute-items">
            <div class="attribute-title">
              <h4>Size(US):</h4>
              <h4>
                <a href="#">Size Chart <i class="fa fa-chevron-right"></i></a>
              </h4>
            </div>
            <div class="attribute-option">
              <ul>
                <li><a href="#" class="active">US S</a></li>
                <li><a href="#">US M</a></li>
                <li><a href="#">US L</a></li>
                <li><a href="#">US XL</a></li>
              </ul>
            </div>
          </div>

          <div class="pane">
            <p>Tag Size M, Unit: Inch</p>
            <p>
              Bust: 42.52, Shoulder: 18.11, Length: 29.13, Sleeve Length: 8.27
            </p>
          </div>
        </div>
        <div class="product-option-footer">
          <a href="./login.html" class="s-anch">Save</a>
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../js/script.min.js"></script>
</body>

</html>