<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="../images/logo2.jpeg" type="image/x-icon">
	<link rel="apple-touch-icon" href="../images/logo2.jpeg">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
	<link rel="stylesheet" href="../css/utility.css" />
	<link rel="stylesheet" href="../css/style.min.css" />

	<title>Leemah | Style</title>
</head>

<body>
	<a id="back-to-top"></a>
	<section class="promo-off flex">
		<div class="promo"><a href="#">N6 off</a></div>
		<div class="promo"><a href="#">N15 off</a></div>
		<div class="promo"><a href="#">N25 off</a></div>
	</section>

	<header class="header">
		<div class="top grid shadow">
			<div class="logo flex">
				<i class="fa fa-chevron-left back"></i>
				<a href="../index.html" class="home">
					<img src="../images/logo1.jpg" alt="Leemahshop">
				</a>
			</div>
			<div class="icon">
				<a href="./account.html">
					<i class="fa fa-user"></i>
				</a>
				<i class="fa fa-search"></i>

				<a href="./shoppingcart.html" class="counter">
					<i class="fa fa-shopping-bag"></i>
					<span>5</span>
				</a>
			</div>
		</div>

		<div class="f-nav">
			<div class="top-head">
				<ul class="flex text-center">
					<li data-tab-target="#all" class="active"><a href="">ALL</a></li>
					<li data-tab-target="#womenC"><a href="#">Women</a></li>
					<li data-tab-target="#bagC"><a href="#">Bags</a></li>
					<li data-tab-target="#shoeC"><a href="#">Shoes</a></li>
					<li data-tab-target="#jewelryC"><a href="#">Jewelry & Watch</a></li>
				</ul>
				<ul class="flex text-center">
					<li data-tab-target="#category" class="">
						Category
						<i class="fa fa-angle-down"></i>
						<i class="fa fa-angle-up"></i>
					</li>
					<li data-tab-target="#curvyT">
						Sort
						<i class="fa fa-long-arrow-down"></i>
						<i class="fa fa-long-arrow-up"></i>
					</li>
					<li data-tab-target="#color">
						Color
						<i class="fa fa-angle-down"></i>
						<i class="fa fa-angle-up"></i>
					</li>
					<li class="bars">
						Filter
						<i class="fa fa-filter"></i>
					</li>
				</ul>
			</div>
		</div>

		<div class="backdrop"></div>

		<div class="homesidebar styleside">
			<div class="sidebar-logo">
				Filters
			</div>

			<div class="divider"></div>

			<div class="sidebar-list style">
				<div class="flex">
					<label for="ship-in">Ship in 24 hours</label>
					<input type="checkbox" id="ship-in">
				</div>
				<div class="flex">
					<label for="in-sale">Sale</label>
					<input type="checkbox" id="in-sale">
				</div>
				<div class="flex">
					<h3>Price</h3>
					<div>
						<input type="number" placeholder="Min"> &dash; <input type="number" placeholder="Max">
					</div>
				</div>
				<ul>
					<li class="sidebar-item">
						<a href="#!" class="sub-btn"><i class="fa fa-tshirt"></i>Color
							<i class="fa fa-chevron-right dropdown"></i></a>
						<div class="sub-menu">
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/brown.png" alt="Brown"><span>Brown</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/blue.png" alt="Blue"><span>Blue</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/khaki.png" alt="Khaki"><span>Khaki</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/red.png" alt="Red"><span>Red</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/green.png" alt="Green"><span>Green</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/black.png" alt="Black"><span>Black</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/gray.png" alt="Gray"><span>Gray</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/beige.png" alt="Beige"><span>Beige</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/pink.png" alt="Pink"><span>Pink</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/silver.png" alt="Silver"><span>Silver</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/white.png" alt="White"><span>White</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/purple.png" alt="Purple"><span>Purple</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/gold.png" alt="Gold"><span>Gold</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/orange.png" alt="Orange"><span>Orange</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/rainbow.png" alt="Rainbow"><span>Rainbow</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<img src="../images/chic/yellow.png" alt="Yellow"><span>Yellow</span>
							</a>


						</div>
					</li>
					<li class="sidebar-item">
						<a href="#!" class="sub-btn"><i class="fa fa-stroopwafel"></i>Size
							<i class="fa fa-chevron-right dropdown"></i></a>
						<div class="sub-menu">
							<a href="javascript:void(0)" class="taggable">
								<span>US 4</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US 5</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US 6</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US 7</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US 8</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US 9</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US 10</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US 11</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US 12</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US 14</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US 16</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US XL</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US 2XL</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US 3XL</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US 4XL</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>US 5XL</span>
							</a>
						</div>
					</li>
					<li class="sidebar-item">
						<a href="#!" class="sub-btn"><i class="fa fa-shoe-prints"></i>Material
							<i class="fa fa-chevron-right dropdown"></i></a>
						<div class="sub-menu">
							<a href="javascript:void(0)" class="taggable">
								<span>Cotton</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Velvet</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Linen</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Rayon</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Nylon</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Polyester</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Viscose</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Spandex</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Corduroy</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Chiffon</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Blended Cotton</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Silk</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Mesh</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Modal</span>
							</a>
						</div>
					</li>
					<li class="sidebar-item">
						<a href="#!" class="sub-btn"><i class="fa fa-shopping-bag"></i>Pattern
							<i class="fa fa-chevron-right dropdown"></i></a>
						<div class="sub-menu">
							<a href="javascript:void(0)" class="taggable">
								<span>Cat</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Cartoon</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Floral</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Striped</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Color Block</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Art Illustration</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Plaid</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Letter</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Leopard</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Stars</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Feather</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Fish</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Plant</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Dot</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Tie-dye</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Galaxy</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Calico</span>
							</a>
						</div>
					</li>
					<li class="sidebar-item">
						<a href="#!" class="sub-btn"><i class="fa fa-spa"></i>Occasion
							<i class="fa fa-chevron-right dropdown"></i></a>
						<div class="sub-menu">
							<a href="javascript:void(0)" class="taggable">
								<span>Outdoor</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Cosplay</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Sport</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Party</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Shopping</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Formal</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Casual</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Versatile</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Home</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Date</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Daily</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Holiday</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Running</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Beach</span>
							</a>
						</div>
					</li>
					<li class="sidebar-item">
						<a href="#!" class="sub-btn"><i class="fa fa-child"></i>Style
							<i class="fa fa-chevron-right dropdown"></i></a>
						<div class="sub-menu">
							<a href="javascript:void(0)" class="taggable">
								<span>Casual</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Vintage</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Elegant</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Fashion</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Young Leemah</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Stylish</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Bohemia</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Business</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Formal</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Sexy</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Brief</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Classic</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Sweet/Cute</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Retro</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Hawaiian Style</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Ethnic</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>European Style</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Natural</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Ins</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Country Style</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Lovely</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Funny</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Sport/Active</span>
							</a>
						</div>
					</li>
					<li class="sidebar-item">
						<a href="#!" class="sub-btn"><i class="fa fa-tree"></i>Sleeves Length
							<i class="fa fa-chevron-right dropdown"></i></a>
						<div class="sub-menu">
							<a href="javascript:void(0)" class="taggable">
								<span>Long Sleeve</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Short Sleeve</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>3/4 Length Sleeve</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Half Sleeve</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Sleeveless</span>
							</a>
						</div>
					</li>
					<li class="sidebar-item">
						<a href="#!" class="sub-btn"><i class="fa fa-child"></i>Collar
							<i class="fa fa-chevron-right dropdown"></i></a>
						<div class="sub-menu">
							<a href="javascript:void(0)" class="taggable">
								<span>O-neck</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>V-neck</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Hooded</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Stand Collar</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Lapel Collar</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Others</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Half Open Collar</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Double-Layer</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Slash Neck</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Ruffled</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Crew Neck</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>High Neck</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Square Collar/span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Half-collar</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Polo</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Off Shoulder</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Asymmetrical</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Turtleneck</span>
							</a>
						</div>
					</li>
					<li class="sidebar-item">
						<a href="#!" class="sub-btn"><i class="fa fa-child"></i>Season
							<i class="fa fa-chevron-right dropdown"></i></a>
						<div class="sub-menu">
							<a href="javascript:void(0)" class="taggable">
								<span>Winter</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Autumn</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Spring</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Summer</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Fall & Winter</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Spring & Summer</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>Spring & Fall</span>
							</a>
							<a href="javascript:void(0)" class="taggable">
								<span>All Season</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<main>
		<div class="container">
			<section class="shop">
				<h1>You May Also Like</h1>
				<div class="flex">
					<aside class="categories">
						<h1>TODO: Sidebar</h1>
					</aside>
					<!-- <div class="grid grid-4"> -->
					<div class="grid">
						<div class="product-card">
							<div class="product-img-wrap">
								<img src="../images/chic/p8.jpg" alt="New Product" class="product-card-img" />
								<span>NEW</span>
							</div>
							<div class="product-card-detail">
								<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
								<div class="product-card-price-wrap">
									<div class="product-card-price">
										<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
										<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
									</div>
									<div class="product-card-wish">
										<i class="fa fa-heart"></i>
										<span>15</span>
									</div>
								</div>
							</div>
							<div class="product-overlay">
								<button type="button" class="btn btn-light">Add to Wishlist</button>
								<button type="button" class="btn btn-light">
									<a href="./detail.html">Quick View</a>
								</button>
								<button type="button" class="btn btn-light">Dislike it</button>
								<a href="#" class="similar">Similar items ></a>
							</div>
						</div>
						<div class="product-card">
							<div class="product-img-wrap">
								<img src="../images/chic/p7.jpg" alt="New Product" class="product-card-img" />
								<span>NEW</span>
							</div>
							<div class="product-card-detail">
								<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
								<div class="product-card-price-wrap">
									<div class="product-card-price">
										<h5 class="s-price">₦28.99</h5>
										<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
									</div>
									<div class="product-card-wish">
										<i class="fa fa-heart"></i>
										<span>15</span>
									</div>
								</div>
							</div>
							<div class="product-overlay">
								<button type="button" class="btn btn-light">Add to Wishlist</button>
								<button type="button" class="btn btn-light">
									<a href="./detail.html">Quick View</a>
								</button>
								<button type="button" class="btn btn-light">Dislike it</button>
								<a href="#" class="similar">Similar items ></a>
							</div>
						</div>
						<div class="product-card">
							<div class="product-img-wrap">
								<img src="../images/chic/p6.jpg" alt="New Product" class="product-card-img" />
								<span>NEW</span>
							</div>
							<div class="product-card-detail">
								<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
								<div class="product-card-price-wrap">
									<div class="product-card-price">
										<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
										<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
									</div>
									<div class="product-card-wish">
										<i class="fa fa-heart"></i>
										<span>15</span>
									</div>
								</div>
							</div>
							<div class="product-overlay">
								<button type="button" class="btn btn-light">Add to Wishlist</button>
								<button type="button" class="btn btn-light">
									<a href="./detail.html">Quick View</a>
								</button>
								<button type="button" class="btn btn-light">Dislike it</button>
								<a href="#" class="similar">Similar items ></a>
							</div>
						</div>
						<div class="product-card">
							<div class="product-img-wrap">
								<img src="../images/chic/p5.jpg" alt="New Product" class="product-card-img" />
								<span>NEW</span>
							</div>
							<div class="product-card-detail">
								<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
								<div class="product-card-price-wrap">
									<div class="product-card-price">
										<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
										<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
									</div>
									<div class="product-card-wish">
										<i class="fa fa-heart"></i>
										<span>15</span>
									</div>
								</div>
							</div>
							<div class="product-overlay">
								<button type="button" class="btn btn-light">Add to Wishlist</button>
								<button type="button" class="btn btn-light">
									<a href="./detail.html">Quick View</a>
								</button>
								<button type="button" class="btn btn-light">Dislike it</button>
								<a href="#" class="similar">Similar items ></a>
							</div>
						</div>
						<div class="product-card">
							<div class="product-img-wrap">
								<img src="../images/chic/p4.webp" alt="New Product" class="product-card-img" />
								<span>NEW</span>
							</div>
							<div class="product-card-detail">
								<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
								<div class="product-card-price-wrap">
									<div class="product-card-price">
										<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
										<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
									</div>
									<div class="product-card-wish">
										<i class="fa fa-heart"></i>
										<span>15</span>
									</div>
								</div>
							</div>
							<div class="product-overlay">
								<button type="button" class="btn btn-light">Add to Wishlist</button>
								<button type="button" class="btn btn-light">
									<a href="./detail.html">Quick View</a>
								</button>
								<button type="button" class="btn btn-light">Dislike it</button>
								<a href="#" class="similar">Similar items ></a>
							</div>
						</div>
						<div class="product-card">
							<div class="product-img-wrap">
								<img src="../images/chic/p3.jpg" alt="New Product" class="product-card-img" />
								<span>NEW</span>
							</div>
							<div class="product-card-detail">
								<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
								<div class="product-card-price-wrap">
									<div class="product-card-price">
										<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
										<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
									</div>
									<div class="product-card-wish">
										<i class="fa fa-heart"></i>
										<span>15</span>
									</div>
								</div>
							</div>
							<div class="product-overlay">
								<button type="button" class="btn btn-light">Add to Wishlist</button>
								<button type="button" class="btn btn-light">
									<a href="./detail.html">Quick View</a>
								</button>
								<button type="button" class="btn btn-light">Dislike it</button>
								<a href="#" class="similar">Similar items ></a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>

	<a href="#back-to-top" class="back-to-top flex"><i class="fa fa-hand-point-up"></i></a>

	<!-- <section class="tab-content container">
			<h1>Welcome to Category</h1>
		</section> -->

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="../js/script.min.js"></script>
</body>

</html>