<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="../images/logo2.jpeg" type="image/x-icon">
	<link rel="apple-touch-icon" href="../images/logo2.jpeg">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
	<link rel="stylesheet" href="../css/utility.css" />
	<link rel="stylesheet" href="../css/style.min.css" />

	<title>Leemah | Style</title>
</head>

<body>
	<a id="back-to-top"></a>
	<section class="promo-off flex">
		<div class="promo"><a href="#">N6 off</a></div>
		<div class="promo"><a href="#">N15 off</a></div>
		<div class="promo"><a href="#">N25 off</a></div>
	</section>

	<header class="header">
		<div class="top grid shadow">
			<div class="logo flex">
				<i class="fa fa-chevron-left back"></i>
				<a href="../index.html" class="home">
					<img src="../images/logo1.jpg" alt="Leemahshop">
				</a>
			</div>
			<div class="icon">
				<a href="./account.html">
					<i class="fa fa-user"></i>
				</a>
				<i class="fa fa-search"></i>

				<a href="./shoppingcart.html" class="counter">
					<i class="fa fa-shopping-bag"></i>
					<span>5</span>
				</a>
			</div>
		</div>

		<div class="f-nav">
			<div class="top-head">
				<ul class="flex text-center">
					<li data-tab-target="#all" class="active"><a href="">ALL</a></li>
					<li data-tab-target="#womenC"><a href="#">Women</a></li>
					<li data-tab-target="#bagC"><a href="#">Bags</a></li>
					<li data-tab-target="#shoeC"><a href="#">Shoes</a></li>
					<li data-tab-target="#jewelryC"><a href="#">Jewelry & Watch</a></li>
				</ul>
				<ul class="flex text-center">
					<li data-tab-target="#category" class="">
						Category
						<i class="fa fa-angle-down"></i>
						<i class="fa fa-angle-up"></i>
					</li>
					<li data-tab-target="#curvyT">
						Sort
						<i class="fa fa-long-arrow-down"></i>
						<i class="fa fa-long-arrow-up"></i>
					</li>
					<li data-tab-target="#color">
						Color
						<i class="fa fa-angle-down"></i>
						<i class="fa fa-angle-up"></i>
					</li>
					<li class="closed">
						Filter
						<i class="fa fa-filter"></i>
					</li>
				</ul>
			</div>
		</div>

		<nav>
			<div class="filter-links" id="filterLinks">
				<div class="filter-content">
					<div class="filter-head">
						<p><i class="fa fa-times closed"></i></p>
						<p>Filter</p>
					</div>
					<div class="container side-bar">
						<h1>Welcome to Filter</h1>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<main>
		<div class="container">
			<section class="shop">
				<h1>You May Also Like</h1>
				<div class="flex">
					<aside class="categories">
						<h1>TODO: Sidebar</h1>
					</aside>
					<!-- <div class="grid grid-4"> -->
					<div class="grid">
						<div class="product-card">
							<div class="product-img-wrap">
								<img src="../images/chic/p8.jpg" alt="New Product" class="product-card-img" />
								<span>NEW</span>
							</div>
							<div class="product-card-detail">
								<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
								<div class="product-card-price-wrap">
									<div class="product-card-price">
										<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
										<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
									</div>
									<div class="product-card-wish">
										<i class="fa fa-heart"></i>
										<span>15</span>
									</div>
								</div>
							</div>
							<div class="product-overlay">
								<button type="button" class="btn btn-light">Add to Wishlist</button>
								<button type="button" class="btn btn-light">
									<a href="./detail.html">Quick View</a>
								</button>
								<button type="button" class="btn btn-light">Dislike it</button>
								<a href="#" class="similar">Similar items ></a>
							</div>
						</div>
						<div class="product-card">
							<div class="product-img-wrap">
								<img src="../images/chic/p7.jpg" alt="New Product" class="product-card-img" />
								<span>NEW</span>
							</div>
							<div class="product-card-detail">
								<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
								<div class="product-card-price-wrap">
									<div class="product-card-price">
										<h5 class="s-price">₦28.99</h5>
										<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
									</div>
									<div class="product-card-wish">
										<i class="fa fa-heart"></i>
										<span>15</span>
									</div>
								</div>
							</div>
							<div class="product-overlay">
								<button type="button" class="btn btn-light">Add to Wishlist</button>
								<button type="button" class="btn btn-light">
									<a href="./detail.html">Quick View</a>
								</button>
								<button type="button" class="btn btn-light">Dislike it</button>
								<a href="#" class="similar">Similar items ></a>
							</div>
						</div>
						<div class="product-card">
							<div class="product-img-wrap">
								<img src="../images/chic/p6.jpg" alt="New Product" class="product-card-img" />
								<span>NEW</span>
							</div>
							<div class="product-card-detail">
								<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
								<div class="product-card-price-wrap">
									<div class="product-card-price">
										<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
										<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
									</div>
									<div class="product-card-wish">
										<i class="fa fa-heart"></i>
										<span>15</span>
									</div>
								</div>
							</div>
							<div class="product-overlay">
								<button type="button" class="btn btn-light">Add to Wishlist</button>
								<button type="button" class="btn btn-light">
									<a href="./detail.html">Quick View</a>
								</button>
								<button type="button" class="btn btn-light">Dislike it</button>
								<a href="#" class="similar">Similar items ></a>
							</div>
						</div>
						<div class="product-card">
							<div class="product-img-wrap">
								<img src="../images/chic/p5.jpg" alt="New Product" class="product-card-img" />
								<span>NEW</span>
							</div>
							<div class="product-card-detail">
								<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
								<div class="product-card-price-wrap">
									<div class="product-card-price">
										<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
										<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
									</div>
									<div class="product-card-wish">
										<i class="fa fa-heart"></i>
										<span>15</span>
									</div>
								</div>
							</div>
							<div class="product-overlay">
								<button type="button" class="btn btn-light">Add to Wishlist</button>
								<button type="button" class="btn btn-light">
									<a href="./detail.html">Quick View</a>
								</button>
								<button type="button" class="btn btn-light">Dislike it</button>
								<a href="#" class="similar">Similar items ></a>
							</div>
						</div>
						<div class="product-card">
							<div class="product-img-wrap">
								<img src="../images/chic/p4.webp" alt="New Product" class="product-card-img" />
								<span>NEW</span>
							</div>
							<div class="product-card-detail">
								<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
								<div class="product-card-price-wrap">
									<div class="product-card-price">
										<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
										<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
									</div>
									<div class="product-card-wish">
										<i class="fa fa-heart"></i>
										<span>15</span>
									</div>
								</div>
							</div>
							<div class="product-overlay">
								<button type="button" class="btn btn-light">Add to Wishlist</button>
								<button type="button" class="btn btn-light">
									<a href="./detail.html">Quick View</a>
								</button>
								<button type="button" class="btn btn-light">Dislike it</button>
								<a href="#" class="similar">Similar items ></a>
							</div>
						</div>
						<div class="product-card">
							<div class="product-img-wrap">
								<img src="../images/chic/p3.jpg" alt="New Product" class="product-card-img" />
								<span>NEW</span>
							</div>
							<div class="product-card-detail">
								<h5><a href="#!">Floral Lace V-neck Knotted Dress</a></h5>
								<div class="product-card-price-wrap">
									<div class="product-card-price">
										<h5 class="s-price"><span>₦28.99</span> <small><s>₦58.99</s></small></h5>
										<p class="p-price"><i class="fa fa-tag"></i> Buy 2 Get 20% OFF</p>
									</div>
									<div class="product-card-wish">
										<i class="fa fa-heart"></i>
										<span>15</span>
									</div>
								</div>
							</div>
							<div class="product-overlay">
								<button type="button" class="btn btn-light">Add to Wishlist</button>
								<button type="button" class="btn btn-light">
									<a href="./detail.html">Quick View</a>
								</button>
								<button type="button" class="btn btn-light">Dislike it</button>
								<a href="#" class="similar">Similar items ></a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>

	<a href="#back-to-top" class="back-to-top flex"><i class="fa fa-hand-point-up"></i></a>
	
	<!-- <section class="tab-content container">
			<h1>Welcome to Category</h1>
		</section> -->

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="../js/script.min.js"></script>
</body>

</html>